<!--<app-list-user></app-list-user>-->
<h1 class="text-center" id="title">Danh Sách Tài Sản</h1>
<form class="form-inline my-2 my-lg-0">
<button class="btn btn-success" id="add">Thêm Tài Sản</button>
<input class="form-control mr-sm-2" placeholder="Tên Tài Sản"type="search"  id="search">
  <button class=" btn btn-primary my-2 my-sm-0">Tìm Kiếm</button>
</form><br>
<form>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>STT</th>
      <th>Tài Sản</th>
      <th>Tổng Số Lượng</th>
      <th>Đang Sử Dụng</th>
      <th>Đang Sửa</th>
      <th>Khả Dụng</th>
      <th>Chi Tiết</th>
      <th>Thêm</th>
      <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Máy Chiếu</td>
      <td>100</td>
      <td>50</td>
      <td>5</td>
      <td>45</td>
      <td></td>
      <td></td>
      <td><span class="materi">delete</span></td>
    </tr>
    </tbody>
  </table>
</form>
