<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<h1>Create Customer</h1>
<p>
    <a href="/list">Customer List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="/" method="post" th:object="${customers}">
    <table>
        <tr>
            <td>First Name: </td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" th:field="*{lastName}" ></td>
        </tr>
        <tr>
            <td>Province</td>
            <td>
                <select th:field="*{province}">
                    <th:block th:each="pro: ${provinces}">
                    <option  th:value="${pro.id}" th:text="${pro.name}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create Customer">
            </td>
        </tr>

    </table>

</form>

</body>
</html>