<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Province</title>
</head>
<body>
<h1>View Province : <span th:text="${provinces.name}"></span> </h1>
<a href="/province">List Province</a>
<form >
<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="cus:${customers}">
        <td th:text="${cus.firstName}"></td>
        <td th:text="${cus.lastName}"></td>
    </tr>
</table>
</form>
</body>
</html>