
<div class="row justify-content-md-center">
  <div class="col-md-6">
    <h2 style="text-align: center; color: blue; background: darksalmon">Create Customers!!</h2>
    <form [formGroup]="createCustomer" (ngSubmit)="submitCustomer()">
      <div class="form-group">
        <label>Id</label>
        <input type="text" class="form-control" formControlName="id">
      </div>
      <div class="alert-danger" *ngIf="createCustomer.get('id').invalid && createCustomer.get('id').pristine">Id không được để trống!!</div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
        <div class="alert-danger" *ngIf="createCustomer.get('name').invalid && createCustomer.get('name').touched">Id không được để trống!!</div>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" class="form-control" formControlName="birthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>
        <div class="form-group">
        <label>Gender</label>
        <input type="text" class="form-control" formControlName="gender">
      </div>
      <div class="form-group">
        <label>Card</label>
        <input type="text" class="form-control" formControlName="card">
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" formControlName="phone">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" formControlName="address">
      </div>
      <div class="form-group">
        <label>Type Customer :</label>
        <select formControlName="typeCustomer" >
          <option
                  *ngFor="let type of typeCustomers" [ngValue]="type">{{type.nameCustomerType}}</option>
        </select>
        <button type="button" routerLink="/create-customerType" class="btn btn-success" >Add CustomerType</button>
      </div>
      <input type="submit" value="Create" class="bg-primary">
    </form>
  </div>
</div>
