<h1>List Customer!!!</h1>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th>Card</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Type</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let custom of customers">
    <td>{{custom.id}}</td>
    <td>{{custom.name}}</td>
    <td>{{custom.birthday}}</td>
    <td>{{custom.gender}}</td>
    <td>{{custom.card}}</td>
    <td>{{custom.phone}}</td>
    <td>{{custom.email}}</td>
    <td>{{custom.address}}</td>
    <td>{{custom.type}}</td>
    <td>
      <a><button type="button" class="bg-danger">Delete</button></a>
      <a><button type="button" class="bg-success">Edit</button></a>
    </td>
  </tr>
  </tbody>

</table>
